<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Upload</title>
</head>
<body>
    <h1>Upload your report here!</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="blood_report">Upload Report:</label><br>
        <input type="file" id="blood_report" name="blood_report" accept=".csv, .xlsx, .xls" required><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
